* { 
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(210, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Sedgwick Ave';
}

a{
    text-decoration: none;
    color: rgb(94, 146, 70);
    transition: 0.5s;
    font-size: 35px;
}

/** Animations **/

a:hover{
    color: rgb(94, 146, 70);
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

#fade{
    animation: fadeIn 2s;
}

/** Building The Animations **/

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}