* { 
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(210, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    gap: 4px;
    font-family: 'Sedgwick Ave';
}

section {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

/** General ID's and Classes **/

#line1, #line2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/** Animations **/

#fadeIn1{
    animation: fadeIn 1s ease-in-out;
}

#fadeIn2{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
}

#fadeIn3{
    opacity: 0;
    color: rgb(218, 74, 74);
    animation: fadeIn 1s ease-in-out 1s forwards, slideDown 1.5s 1s forwards;
}

#fadeIn4{
    opacity: 0;
    color: rgb(218, 74, 74);
    animation: fadeIn 1s ease-in-out 1s forwards, slideUp 1.5s 1s forwards;
}

#fadeIn5{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2s forwards;
}

#fadeIn6{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2.5s forwards;
}

#fadeIn7{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 3s forwards;
}

#fadeIn8{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 3.5s forwards;
}

#fadeIn9{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 4s forwards, slideDownreverse 2.5s ease-out 4.3s forwards, opacity 2.5s ease-in-out 4.3s forwards;
}

/** Building The Animations **/

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translate(0);
    }
}

@keyframes slideUp{
    from{
        transform: translateY(100px);
    }
    to{
        transform: translate(0);
    }
}

@keyframes slideDownreverse{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(80px);
    }
}

@keyframes opacity {
    from{
        opacity: 80%;
    }
    to{
        opacity: 30%;
        color: white;
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    }
}
