* { 
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(210, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    gap: 4px;
    font-family: 'Sedgwick Ave';
}

section {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit; 
}

/** General ID's and Classes **/

#line1, #line2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#path{
    margin-top: 230px;
    transition: 1s;
    font-size: 50px;
}

/** Animations **/

#path:hover{
    color: rgb(94, 146, 70);
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

#fadeIn1{
    animation: fadeIn 1s ease-in-out;
}

#fadeIn2{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
}

#fadeIn3{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards, slideDownreverse 2s ease-in-out 1s forwards;
}

#fadeIn4{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2s forwards;
}

#fadeIn5{
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2.5s forwards;
}

#fadeIn6{
    opacity: 0;
    color: rgb(94, 146, 70);
    animation: fadeIn 1s ease-in-out 3s forwards;
}

#fadeIn7{
    opacity: 0;
    color: rgb(94, 146, 70);
    animation: fadeIn 1s ease-in-out 3.5s forwards, marginsOne 2s ease-in-out 3.5s forwards;
}

#fadeIn8{
    opacity: 0;
    color: rgb(94, 146, 70);
    animation: fadeIn 1s ease-in-out 4.5s forwards, marginsTwo 2s ease-in-out 4.5s forwards;
}

#fadeIn9{
    opacity: 0;
    color: rgb(94, 146, 70);
    animation: fadeIn 1s ease-in-out 5.5s forwards, marginsThree 2s ease-in-out 5.5s forwards;
}

/** Vuilding The Animations **/

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes marginsOne {
    from{
        margins: 0;
    }
    to{
        margin-left: 50px;
    }
}

@keyframes marginsTwo {
    from{
        margins: 0;
    }
    to{
        margin-left: 100px;
    }
}

@keyframes marginsThree {
    from{
        margins: 0;
    }
    to{
        margin-left: 150px;
    }
}

@keyframes slideDownreverse{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(70px);
    }
}

@keyframes opacity {
    from{
        opacity: 80%;
    }
    to{
        opacity: 30%;
        color: white;
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
    }
}

@keyframes wave {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/** Building Specific Animations: wavy text **/

.wavy-text span{
    display: inline-block;
    font-size: 60px;
    animation: wave 2s ease-in-out infinite;
    color: rgb(218, 74, 74);
}

.wavy-text span:nth-child(1){
    animation-delay: 0s;
}

.wavy-text span:nth-child(2){
    animation-delay: 0.2s;
}

.wavy-text span:nth-child(4){
    animation-delay: 0.4s;
}
.wavy-text span:nth-child(4){
    animation-delay: 0.6s;
}